.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.altflexrow {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
body {
  background-color: black;
  color: #ff7f50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dotted #ff7f50;
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body #section1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
body #section1 section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  margin: 1em;
  padding: 1em;
}
body #section1 #sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body #section1 #sidebar #imgs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 350px;
}
body #section1 #sidebar #imgs img {
  max-width: 150px;
  margin: 0.5em;
}
body #section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
body #section2 .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body #section2 .row img {
  max-width: 150px;
  margin: 0.5em;
}
body #section2 .altRow {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
body #section2 .altRow img {
  max-width: 150px;
  margin: 0.5em;
}
