* {
    border: 1px dotted red;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
}
header {
    background-color: cadetblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 95%;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 1em;
}
#main, .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row {
    display: flex;
    align-items: center;
}
.cookieDiv {
    background-color: grey;
}